.page {
  padding: 20px;
}
.page .add-btn {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 5px;
}
.page .checkbox {
  display: block;
  margin: 30px 0 0 0;
}
.page .cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -30px -30px -30px;
}
.page .cards-list__item {
  width: 18%;
  padding: 30px;
  height: 250px;
  text-align: center;
  line-height: 250px;
}
.page .cards-list__item > div {
  border-radius: 25px;
  border: 1px solid blue;
  cursor:pointer;
}
.page .cards-list__item:last-child {
  margin-right: 0;
}
.page .cards-list.checked .cards-list__item:nth-child(2n) div {
  color: #ffffff;
  background: grey;
  border: none;
}
.page .popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.page .popup__inner {
  display: flex;
  align-self: center;
  margin: 0 auto;
  height: 40%;
  width: 100%;
  position: relative;
  max-width: 300px;
  background: #ffffff;
  border-radius: 25px;
}
.page .popup__inner span {
  display: block;
  align-self: center;
  margin: 0 auto;
}
.page .popup__inner .close-button {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: white;
}
.page .popup__inner .close-button:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 14px;
  transform: rotate(45deg);
  background: #333333;
}
.page .popup__inner .close-button:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 11px;
  transform: rotate(-45deg);
  background: #333333;
}
.page .popup.d-flex {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
}
.page .popup.opacity {
  opacity: 1;
}
