html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, main, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #f3e771;
}
.container .pop-up {
  display: none;
  flex-direction: column;
  width: 66vw;
  height: 66vh;
}
.container .pop-up__top {
  flex: 0 0 40%;
  padding-top: 30px;
  text-align: center;
  background: #dadfe5;
}
.container .pop-up__top .top-title {
  margin-bottom: 15px;
}
.container .pop-up__bottom {
  flex: 0 0 60%;
  padding: 40px 50px;
  background: #fff;
}
.container .pop-up__bottom .list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.container .pop-up__bottom .list-item {
  flex: 0 0 25%;
  padding: 10px;
}
.container .pop-up__bottom .list-item__pic {
  height: 150px;
  margin: 0 0 10px 0;
  background: #dadfe5;
}
.container .pop-up.open {
  display: flex;
}

#button {
  width: 140px;
  padding: 15px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border: none;
}
#button.hidden {
  display: none;
}
