@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, main, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 0 54px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #333333;
  background: #ffffff;
}
@media all and (max-width: 991px) {
  body {
    padding-bottom: 15px;
  }
}

main {
  flex: 1 1;
}

button {
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  outline: 0;
  color: #333333;
  background-color: transparent;
  border-color: transparent;
}
button .icon {
  fill: #8d8d8d;
}
button:hover {
  color: #e11c4b;
}
button:hover .icon {
  fill: #e11c4b;
}
button:hover .icon.icon-point {
  fill: transparent;
  stroke: #e11c4b;
}

button, input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333333;
}
a .icon {
  fill: #8d8d8d;
}
a:hover {
  color: #e11c4b;
}
a:hover .icon {
  fill: #e11c4b;
}
a:hover .icon.icon-phone, a:hover .icon.icon-mail, a:hover .icon.icon-point {
  fill: transparent;
  stroke: #e11c4b;
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 20px;
  margin: 0 auto;
}
@media all and (max-width: 767px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.icon {
  display: block;
  fill: #8d8d8d;
}
.icon.icon-point, .icon.icon-phone, .icon.icon-mail {
  stroke: #8d8d8d;
  fill: transparent;
}

.section {
  margin: 36px 0 0 0;
}
@media all and (max-width: 767px) {
  .section {
    margin-top: 24px;
  }
}

.page-banner__picture {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 32px;
  background: transparent;
  box-shadow: 0 6px 30px 4px rgba(32, 32, 32, 0.1);
}
.page-banner__picture img {
  display: block;
  width: 100%;
}

.text-container {
  width: 100%;
  max-width: 1080px;
}

.h1 {
  margin: 0 0 18px 0;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  font-style: normal;
}
@media all and (max-width: 767px) {
  .h1 {
    margin-bottom: 12px;
    font-size: 24px;
  }
}

.date-subtitle {
  margin: 0 0 24px 0;
  font-weight: 400;
  font-size: 22px;
  color: #939393;
}
@media all and (max-width: 767px) {
  .date-subtitle {
    font-size: 18px;
  }
}

.text {
  margin: 14px 0 0 0;
  font-size: 18px;
}
.text:first-child {
  margin-top: 0;
}
@media all and (max-width: 767px) {
  .text {
    font-size: 16px;
  }
}

.owl-carousel .owl-nav {
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #8d8d8d;
  border-radius: 50%;
  background: #ffffff url("../svg/nav-arrow.svg") 50% 50% no-repeat;
}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
  display: none;
}
.owl-carousel .owl-nav button.owl-prev.disabled, .owl-carousel .owl-nav button.owl-next.disabled {
  display: none;
}
.owl-carousel .owl-nav button.owl-prev {
  right: unset;
  left: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header-top {
  padding: 8px 0;
  border-bottom: 2px solid #e8e8e8;
}
.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top a, .header-top button {
  display: flex;
  align-items: center;
}
.header-top a svg, .header-top button svg {
  margin: 0 6px 0 0;
}
.header-top .header-top__logo {
  display: none;
}
.header-top__left {
  display: flex;
  align-items: center;
}
.header-top__left .city-selector {
  margin: 0 36px 0 0;
}
@media all and (max-width: 767px) {
  .header-top {
    display: none;
  }
}
.header-middle {
  padding: 20px 0;
}
.header-middle .container {
  display: flex;
}
@media all and (max-width: 767px) {
  .header-middle .container {
    flex-wrap: wrap;
  }
}
.header-middle__logo {
  display: flex;
  flex: 0 0 16.3%;
  margin: 0 4.4% 0 0;
  height: auto;
}
.header-middle__logo img {
  display: block;
  width: 100%;
  height: auto;
}
@media all and (max-width: 991px) {
  .header-middle__logo {
    flex-basis: 21.2%;
    margin-right: 0;
  }
}
@media all and (max-width: 991px) {
  .header-middle__logo {
    flex-basis: 149px;
  }
}
.header-middle__burger {
  display: none;
  align-self: center;
  align-items: center;
  flex: 0 0 24px;
  margin: 24px 0 0 0;
  height: 17px;
  border-top: 2.2px solid #8d8d8d;
  border-bottom: 2.2px solid #8d8d8d;
}
.header-middle__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #8d8d8d;
}
.header-middle__burger:hover {
  border-top: 2.2px solid #e11c4b;
  border-bottom: 2.2px solid #e11c4b;
}
.header-middle__burger:hover span {
  background: #e11c4b;
}
@media all and (max-width: 767px) {
  .header-middle__burger {
    display: flex;
    order: 3;
  }
}
.header-middle__search {
  flex-grow: 1;
}
.header-middle__search input {
  display: block;
  width: 100%;
  padding: 0 0 0 50px;
  font-size: 16px;
  line-height: 42px;
  border: 2px solid #ddd;
  border-radius: 100px;
  background: url("../svg/search-icon.svg") 18px 50%/26px no-repeat;
}
.header-middle__search input::placeholder {
  font-size: 16px;
  color: #8d8d8d;
}
@media all and (max-width: 767px) {
  .header-middle__search input::placeholder {
    font-size: 14px;
  }
}
@media all and (max-width: 767px) {
  .header-middle__search input {
    padding-left: 39px;
    font-size: 14px;
    line-height: 34px;
    background-size: 18px;
    background-position-x: 16px;
  }
}
@media all and (max-width: 991px) {
  .header-middle__search {
    margin: 0 33px;
    padding: 0 0 0 15px;
  }
}
@media all and (max-width: 767px) {
  .header-middle__search {
    flex-basis: calc(100% - 47px);
    order: 4;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 15px;
    padding-left: 0;
  }
}
@media all and (max-width: 991px) {
  .header-middle {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media all and (max-width: 767px) {
  .header-middle {
    padding-top: 24px;
    padding-bottom: 18px;
  }
}
@media all and (max-width: 991px) {
  .header-menu {
    overflow: hidden;
  }
}
.header-mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0;
  background: #ffffff;
  z-index: 10;
  overflow-y: auto;
}
.header-mobile-menu .mobile-menu-close {
  position: absolute;
  top: 18px;
  right: 10px;
}
.header-mobile-menu .mobile-menu-close svg {
  stroke: #8d8d8d;
}
.header-mobile-menu .mobile-menu-close:hover svg {
  stroke: #e11c4b;
}
.header-mobile-menu .h1 {
  padding: 0 10px;
}
.header-mobile-menu .sections-menu {
  margin: 18px 0 0 0;
}
.header-mobile-menu .sections-menu .section-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 2px solid #e8e8e8;
}
.header-mobile-menu .sections-menu .section-item__picture {
  flex: 0 0 32px;
}
.header-mobile-menu .sections-menu .section-item__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-mobile-menu .sections-menu .section-item__text {
  flex-grow: 1;
  margin: 0 12px 0 8px;
}
.header-mobile-menu .sections-menu .section-item:last-child {
  border-bottom: 0;
}

.header-actions {
  display: flex;
  align-items: center;
  margin: -5px 0 0 27px;
}
.header-actions__item {
  margin: 0 24px 0 0;
}
.header-actions__item svg {
  margin: 0 auto;
}
@media all and (max-width: 991px) {
  .header-actions__item svg.icon {
    width: 1.5em;
    height: 1.5em;
  }
}
.header-actions__item span {
  display: block;
  margin: 2px 0 0 0;
}
@media all and (max-width: 991px) {
  .header-actions__item span {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .header-actions__item--medium {
    display: none;
  }
}
.header-actions__item--small {
  display: none;
}
@media all and (max-width: 767px) {
  .header-actions__item--small {
    display: block;
  }
}
.header-actions__item:last-child {
  margin-right: 0;
}
@media all and (max-width: 991px) {
  .header-actions__item {
    margin-right: 30px;
  }
}
@media all and (max-width: 767px) {
  .header-actions__item {
    margin-right: 21px;
  }
}
@media all and (max-width: 991px) {
  .header-actions {
    margin-right: 8px;
    margin-left: 0;
  }
}
@media all and (max-width: 767px) {
  .header-actions {
    justify-content: flex-end;
    flex-basis: calc(100% - 149px);
    margin-left: 0;
    margin-right: 0;
  }
}

.scroll-menu {
  position: relative;
}
@media all and (max-width: 991px) {
  .scroll-menu.owl-carousel .owl-stage-outer {
    overflow: visible;
  }
}
.scroll-menu__item {
  display: flex;
  align-items: center;
  color: #333333;
  white-space: nowrap;
}
.scroll-menu__item--hovered {
  color: #e11c4b;
}
.scroll-menu__item svg {
  margin: 0 6px 0 0;
}

.footer {
  margin: 96px 0 0 0;
  background: #f4f4f4;
}
.footer-fixed {
  display: none;
  padding: 13px 10px 11px 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 -3px 13px 0 rgba(146, 146, 146, 0.25);
  background: #fff;
}
.footer-fixed__item {
  font-weight: 400;
  font-size: 10px;
  color: #333333;
}
.footer-fixed__item svg {
  margin: 0 auto 4px auto;
}
.footer-fixed__item--active {
  color: #e11c4b;
}
.footer-fixed__item--active svg {
  fill: #e11c4b;
}
@media all and (max-width: 767px) {
  .footer-fixed.visible {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 18px 0;
}
.footer-menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 443px;
}
@media all and (max-width: 991px) {
  .footer-menu__list {
    max-width: 328px;
  }
}
.footer-menu__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 344px;
}
.footer-menu__contacts a {
  display: flex;
  align-items: center;
}
.footer-menu__contacts a svg {
  margin: 0 10px 0 0;
}
@media all and (max-width: 767px) {
  .footer-menu__contacts a svg {
    height: 1.2em;
    width: 1.2em;
  }
}
@media all and (max-width: 767px) {
  .footer-menu__contacts a:last-child {
    margin-top: 13px;
  }
}
@media all and (max-width: 991px) {
  .footer-menu__contacts {
    margin-top: 24px;
    max-width: 306px;
  }
}
@media all and (max-width: 767px) {
  .footer-menu__contacts {
    display: block;
  }
}
@media all and (max-width: 991px) {
  .footer-menu {
    display: block;
  }
}
@media all and (max-width: 767px) {
  .footer-menu {
    padding-top: 27px;
    padding-bottom: 13px;
  }
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.footer-bottom__copyright {
  font-size: 14px;
  line-height: 1.43;
  color: #8d8d8d;
}
@media all and (max-width: 767px) {
  .footer-bottom__copyright {
    margin-top: 24px;
    font-size: 12px;
    line-height: 150%;
  }
}
.footer-bottom__socials {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-gap: 12px;
}
.footer-bottom__socials .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #8d8d8d;
}
@media all and (max-width: 767px) {
  .footer-bottom__socials .social-button svg {
    height: 1.1em;
    width: 1.1em;
  }
}
.footer-bottom__socials .social-button:hover {
  border-color: #e11c4b;
}
.footer-bottom__socials .social-button:hover svg {
  fill: #e11c4b;
}
@media all and (max-width: 767px) {
  .footer-bottom__socials .social-button {
    height: 30px;
  }
}
@media all and (max-width: 991px) {
  .footer-bottom__socials {
    position: absolute;
    top: 36px;
    right: 20px;
  }
}
@media all and (max-width: 767px) {
  .footer-bottom__socials {
    position: unset;
    grid-template-columns: repeat(3, 30px);
  }
}
@media all and (max-width: 991px) {
  .footer-bottom {
    padding-top: 6px;
  }
}
@media all and (max-width: 767px) {
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 0;
  }
}
@media all and (max-width: 991px) {
  .footer {
    margin-top: 70px;
    position: relative;
  }
}
@media all and (max-width: 767px) {
  .footer {
    margin-top: 50px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=template_styles.css.map */
